<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WellbefySjukskrivning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B2CD89A2004B8F300D612BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2CD8AE2004B8F300D612BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B2CD8B92004B8F300D612BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
